* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgba(0, 0, 0, 0.696);
}

.main {
    border: 2px solid rgb(227, 222, 222);
    margin-top: 80px;
    width: 700px;
    margin-left: 400px;
    padding-top: 50px;
    padding-left: 20px;
    background-color: white;
    border-radius: 20px;
    height: 500px;
}

.lo h2 {
    color: #132a24;
    padding-bottom: 30px;
}

.un input {
    width: 680px;
    margin-top: 5px;
    padding: 5px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.lobu {
    text-align: center;
    padding-top: 25px;
}

.lobu button {
    padding: 12px 150px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #00754A;
    color: white;
    border: none;
    transition: 1s;
}

.lobu button:hover {
    background-color: #125342;
    cursor: pointer;
}

